<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.mapper.KnowledgePointMapper">

    <resultMap id="BaseResultMap" type="com.training.common.entity.KnowledgePoint">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectKnowledgePage" resultMap="BaseResultMap">
        SELECT * FROM knowledge_point
        <where>
            deleted = 0
            <if test="courseId != null">
                AND course_id = #{courseId}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
